#navbarScroll {
  overflow-x: hidden;

}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #af052f; 
    color: white; 
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%; 
    transform: translate(50%, -50%);
    width: 100%;
  }

  .bg-body-secondary {
    width: 100%;
  }
  .container-fluid   {
    width: 100%;
    background: #6b66ac;
    height: 23vh;   
    
    
  }
  .container-fluid  p {
   color: rgb(209, 209, 151);
      
  }
  
  @media (max-width: 768px) {
    .carri {
    justify-content: end;
     margin: 0 auto;
    padding: 0;
    max-width: 45%; 
    #navbarScroll {
      overflow-x: hidden;
      max-width: 40%;
    
    }
    
   
    
    }
  }
  